/* Pipeline page */

.pipeline {
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}

.pipeline.mini {
	margin: 2px 0 2px 0;
}

.pipeline-stage {
	text-align: center;
	flex-grow: 1;
	position: relative;
	border: 0;
	height: 20px;
	padding: 15px 5px 15px 35px;
}

.block {
	display: block;
	text-decoration: none;
	color: #222;
}

.mini .pipeline-stage {
	padding: 0 5px 0 35px;
	height: 10px;
	color: transparent;
}

.pipeline-stage:first-child {
	padding-left: 10px;
}

.pipeline-stage:last-child {
	padding-right: 10px;
}

.pipeline-stage::after,
.pipeline-stage::before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.pipeline-stage::after {
	border-color: rgba(136, 183, 213, 0);
	border-width: 25px;
	margin-top: -25px;
	z-index: 2;
}

.mini .pipeline-stage::after {
	border-width: 5px;
	margin-top: -5px;
}

.pipeline-stage::before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #ffffff;
	z-index: 1;
	border-width: 31px;
	margin-top: -31px;
}

.mini .pipeline-stage::before {
	border-width: 7px;
	margin-top: -7px;
}

.pipeline .pipeline-stage:last-child::after,
.pipeline .pipeline-stage:last-child::before {
	border-width: 0;
}

.success {
	background-color: green;
}
.pipeline-stage.success::after {
	border-left-color: green;
}

.failed {
	background-color: red;
}
.pipeline-stage.failed::after {
	border-left-color: red;
}

.not-created {
    background-color: white;
}

.manual,
.skipped,
.canceled,
.created {
	background-color: gray;
}
.pipeline-stage.manual::after,
.pipeline-stage.skipped::after,
.pipeline-stage.canceled::after,
.pipeline-stage.created::after {
	border-left-color: gray;
}

.running {
	background-color: lightskyblue;
}
.pipeline-stage.running::after {
	border-left-color: lightskyblue;
}

.pending {
    background-color: orange;
}
.pipeline-stage.pending::after {
    border-left-color: orange;
}

/* Jobs table */

.job-status {
    width: 100%;
}

.job-status td {
    min-width: 2px;
    height: 5px;
    border-width: 1px;
}

.job-status td a {
    display: block;
    height:100%;
    width:100%;
    font-size: 2px;
}